api_platform:
    title: 'BeSpectacled API'
    description: 'An API interface to manage BeSpectacled entities.'
    version: '1.0.0'
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
        api_keys:
          apiKey:
            name: Authorization
            type: header
    defaults:
       pagination_enabled: false