@import 'simplebar';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap');

$font-family-body: 'Rajdhani', sans-serif;
$font-family-title: 'Titillium Web', sans-serif;

*:not(i),
.font-body {
	font-family: $font-family-body !important;
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6,
.font-title {
	font-family: $font-family-title !important;
}

.sticky-top {
	z-index: 2;
	top: calc(48px + 16px * 2);
	position: sticky !important;

	&.sticky-nav {
		top: 48px;
	}

	&.sticky-full {
		height: calc(100vh - 48px * 2 - 16px) !important;
	}
}

html,
.mandatory {
	scroll-snap-type: y mandatory;
	scroll-padding-top: calc(48px * 2 + 16px);
}

.proximity {
	scroll-snap-type: y proximity;
	scroll-padding-top: calc(48px * 2 + 16px);
}

.snap {
	scroll-snap-align: start;
}

.v-navigation-drawer {
	border: none !important;
}

.v-carousel .v-sheet .v-btn {
	position: absolute;
	bottom: 48px;
}

.v-carousel .v-img__img {
	object-fit: cover;
}

.controls {
	right: 48px;
}

.v-divider {
	width: auto !important;
}

.v-checkbox-btn label {
	margin-bottom: 0;
}

.blend {
	padding-inline: 8px;
	border-radius: 5px;
	background: #FFF;
	color: black !important;
	mix-blend-mode: lighten;
}